body {
  margin: 0;
  background-color: rgb(39, 39, 39);
  display: flex;
  justify-content: center;
  font-family: "Courier New", Courier, monospace;
}

canvas {
  margin-top: 25px;
  z-index: 10;
}

.game-over-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 700px;
  background-color: rgb(56, 56, 56);
  margin-top: -4px;
  z-index: 11;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
}

button {
  cursor: pointer;
  color: rgb(0, 0, 0);
  background-color: rgb(195, 195, 195);
  border: none;
  height: 50px;
  width: 200px;
  border-radius: 5px;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
}

button:hover {
  filter: brightness(80%);
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

/* Mobile Message */
.mobile-message {
  display: none;
}


/* Footer */
footer {
  position: absolute;
  height: 25px;
  width: 100vw;
  bottom: 25px;
  z-index: 100;
}

p {
  font-family: 'Dosis', serif;
  text-align: center;
  color: #938f9b;
  font-size: 20px;
  font-weight: 300;
  margin-top: 25px;
}

#span1 {
background-color: #75595d;
color: #eff0ed;
border-radius: 10px;
}

#span2 {
font-weight: 800;
color: #75595d;
}

/* Monitor and Larger */
@media screen and (min-width: 1800px) {
  canvas {
    margin: 100px 0 100px 0;
  }

  .game-over-container {
    margin-top: -19px;
  }
}

/* Media Query: Mobile Devices */
@media screen and (max-width: 800px) {
  .mobile-message {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 100;
  }
}
